@use "./colors";

.skills__section {
  margin-top: 4em;
  .skills__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 2.4em;
    color: colors.$primaryText;
    padding-top: 0.5em;
  }
}

@media screen and (min-width: 700px) {
  .skills__section {
    .skills__icons {
      font-size: 4em;
    }
  }
}
