@use "./colors";

.project__section {
  margin-top: 4em;
  h2 {
    padding-bottom: 1em;
    color: colors.$primaryText;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    font-size: 0.9em;
    color: colors.$primaryText;
  }
}

@media screen and (min-width: 700px) {
  .project__section {
    p {
      font-size: 1.2em;
    }
  }
}
