@use "./colors";

.profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .profile__name {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
      color: colors.$primaryText;
    }

    h2 {
      color: colors.$primaryText;
    }
  }

  .profile__photo {
    max-width: 12rem;
    margin: 0 auto;

    .profile__photo-img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 5px 5px 10px #e29578;
    }
  }
}
